
 html,

 * {
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  margin: 0px;
  background: #f3f4f6;
  color: #1f2937;
}

 .headers{
  background-color: #f3f4f6;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #334155;
 }



.headers h1{
  margin: 0;
  font-size: 20px;
  color:#1c7aff;;
}

.preview-mail{
    padding: 20px;
    margin-top: 0px;
    background-color: #f3f4f6;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
}

.email-details{
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 12px;
 }

 .label , .category-section{
    color:#1f2937;
 }

 .email-details{
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 12px;
 }

 textarea{
  color: #1f2937;
  padding: 14px;
  border-radius: 8px;
  flex: 1;
  font-size: 13px;
  width: 100%;
  border-color: #334155;
 }

 .priority-section{
  margin-bottom: 10px;
  color: #1f2937;
 }

 .move-section{
  color: #1f2937;
 }

 #category-selection , #move-button , #priority-section , #move , #analyze-button {
  background: #1a73e8;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15)
 }

#move-button:hover , #analyze-button:hover , #category-selection:hover , #priority-section:hover , #move:hover {
  background: #1c7aff;
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 102, 255, 0.35);
}

.category-section , .priority-section , .move-section{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#move-button , #analyze-button{
  width: 100px;
}



